.customerInfoBlock {
  font-size: 1.4rem;
  margin-block: 4rem;
  width: 100%;
  display: grid;
  grid-template-areas:
    "a a"
    "b c";
  justify-content: center;
  align-items: start;
  column-gap: 4rem;
  row-gap: 1.5rem;
}

.customerInfoBlock h1 {
  font-size: 2rem;
  grid-area: a;
  /* justify-self: center; */
}

.delinquent {
  color: red;
}

.contactInfo {
  text-align: start;
  grid-area: b;
}

.contactInfo p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}
.contactInfo p small {
  text-decoration: underline;
  font-style: italic;
  color: var(--green);
}

.customerInfoBlock ul {
  list-style-type: none;
  text-align: start;
  display: flex;
  flex-direction: column;
  width: fit-content;
  grid-area: c;
}

.customerInfoBlock ul small {
  text-decoration: underline;
  font-style: italic;
  color: var(--green);
}

.delButton {
  background-color: darkred;
  /* color: red; */
  border-radius: 8px;
  padding: 0.8rem 1.2rem;
  font-weight: 600;
  font-size: 18px;
}

.delButton:hover {
  color: red;
}
