.createCustomerHeader {
  font-size: 1.5rem;
}

.createCustomerForm {
  display: grid;
  grid-template-areas:
    "a b b"
    "c c c"
    "d d d";

  column-gap: 1.4rem;
  row-gap: 1rem;
}

.contactInfoSection {
  grid-area: a;
}
.locationInfoSection {
  grid-area: b;
}
.paymentInfoSection {
  grid-area: c;
}

.contactInfoSection div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.addressSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.addressSection input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.addressSection input:focus {
  border-color: var(--fore);
  outline: none;
}
.createCustomerForm input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.createCustomerForm input:focus {
  border-color: var(--fore);
  outline: none;
}
.createCustomerForm label {
  font-weight: bold;
  margin-bottom: 0px;
}

.createCustomerForm select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  color: var(--text);
}
.createCustomerForm select:focus {
  border-color: var(--fore);
  outline: none;
}
.createCustomerForm select option {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: var(--primary);
  color: var(--text);
}

.createCustomerForm button[type="submit"] {
  grid-area: d;
  margin-block: 2rem;
  font-size: 24px;
  background-color: var(--secondary);
}

.paymentCardElement {
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
